<?xml version="1.0" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="51010791-B14F-4F5D-9336-EABEA790BDA4" UpgradeCode="C1781722-8046-4A2A-8419-5CBC9616220C"
		Name="Wipt" Language="1033" Version="$(var.ProductVersion)" Manufacturer="ACM@UIUC">
		<Package Description="Windows Installer Package Tool" 
      Comments="This Installer database contains the logic and data required to install Wipt."
			InstallerVersion="200" Compressed="yes" />
    <CustomAction Id="ErrNetfx11NotInstalled" Error="[ProductName] requires Microsoft .NET Framework 1.1." />
		<Media Id="1" Cabinet="Product.cab" EmbedCab="yes" />
    <UIRef Id="WixUI_InstallDir" />
    <CustomAction Id="SetTargetDir" Property="TARGETDIR" Value="[ProgramFilesFolder]" />
    <WixVariable Id="WixUILicenseRtf" Value="C:\Users\mloar2\Documents\Projects\Wipt\LICENSE.rtf" />
		<Directory Id="TARGETDIR" Name="SourceDir">
				<Directory Id="ACMDir" Name="ACM">
					<Directory Id="INSTALLDIR" Name="Wipt">
						<Component Id="SystemInstallerComponent" Guid="0E9AC917-3533-4915-B74F-802A8A526BB0">
							<File Id="ACM.Wipt.WindowsInstaller.dllFile" Name="ACM.Wipt.WindowsInstaller.dll" DiskId="1" 
                Source="WindowsInstaller\ACM.Wipt.WindowsInstaller.dll" Vital="yes" KeyPath="yes" Assembly=".net" />
						</Component>
						<Component Id="WiptLibComponent" Guid="083477F3-A07D-490C-B17F-25EF6DBC7C79">
							<File Id="WiptLib.dllFile" Name="WIPTLIB.DLL" DiskId="1" Source="WiptLib\WiptLib.dll" Vital="yes" 
                KeyPath="yes" Assembly=".net" />
            </Component>
            <Component Id="WiptSchemaComponent" Guid="5D212C47-7448-4196-840B-2FC2F2025057">
              <File Id="WiptSchema.xsdFile" Name="WiptSchema.xsd" DiskId="1" Source="WiptSchema.xsd" Vital="yes" 
                KeyPath="yes"/>
              <RegistryKey Root="HKLM" Key="SOFTWARE\ACM\Wipt" Action="create" />
              <RemoveRegistryKey Root="HKLM" Key="SOFTWARE\ACM\Wipt" Action="removeOnUninstall" />
              <RegistryValue Root="HKLM" Key="SOFTWARE\ACM\Wipt" Name="Repositories" 
                Value="https://www-s.acm.uiuc.edu/sigwin/wipt/general.xml" Type="string" />
              <RegistryValue Root="HKLM" Key="SOFTWARE\ACM\Wipt" Name="SchemaLocation1.0"
                Value="[#WiptSchema.xsdFile]" Type="string" />
              <RemoveFile Id="DataFile" On="uninstall" Name="library.dat" Property="WiptDataDir" />
              <CreateFolder Directory="WiptDataDir">
                <Permission User="Administrators" GenericAll="yes" />
                <Permission User="Users" GenericRead="yes" GenericExecute="yes" ReadPermission="yes"
                  ReadExtendedAttributes="yes" />
              </CreateFolder>
              <RemoveFolder Id="WiptDataDirRemove" On="uninstall" Property="WiptDataDir" />
              <CreateFolder Directory="ACMDataDir">
                <Permission User="Administrators" GenericAll="yes" />
                <Permission User="Users" GenericRead="yes" GenericExecute="yes" ReadPermission="yes"
                  ReadExtendedAttributes="yes" />
              </CreateFolder>
              <RemoveFolder Id="ACMDataDirRemove" On="uninstall" Property="ACMDataDir" />
							<File Id="LicenseFile" Name="LICENSE.txt" DiskId="1" Source="LICENSE" />
						</Component>
						<Component Id="WiptgetComponent" Guid="8C9ECEB5-A540-4700-9DED-E29B13582AD7">
							<File Id="wiptget.exeFile" Name="WIPT-GET.EXE" DiskId="1" Source="wipt-get\wipt-get.exe" Vital="yes" 
                KeyPath="yes" />
							<Environment Id="UpdatePath" Name="PATH" Action="set" System="yes" Part="last" Value="[INSTALLDIR]" />
						</Component>
            <Component Id="WiptputComponent" Guid="5B435D09-9998-49B6-9606-278EB53AC1D8">
              <File Id="wiptput.exeFile" Name="WIPT-PUT.EXE" DiskId="1" Source="wipt-put\wipt-put.exe" Vital="yes"
                KeyPath="yes" />
            </Component>
				</Directory>
			</Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="ACMDataDir" Name="ACM">
          <Directory Id="WiptDataDir" Name="Wipt" />
        </Directory>
      </Directory>
		</Directory>
		<Feature Id="DefaultFeature" Title="Default Install" Level="1">
			<ComponentRef Id="WiptgetComponent" />
      <ComponentRef Id="WiptputComponent" />
      <ComponentRef Id="WiptSchemaComponent" />
			<ComponentRef Id="SystemInstallerComponent" />
      <ComponentRef Id="WiptLibComponent" />
		</Feature>
	  <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
		<Property Id="NEWERPRODUCTFOUND" Secure="yes" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<Upgrade Id="C1781722-8046-4A2A-8419-5CBC9616220C">
			<UpgradeVersion Minimum="$(var.ProductVersion)" Property="NEWERPRODUCTFOUND" OnlyDetect="yes" IncludeMinimum="yes" />
			<UpgradeVersion Minimum="1.0.0" Maximum="$(var.ProductVersion)" Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="yes" />
		</Upgrade>
		<InstallExecuteSequence>
      <Custom Action="ErrNetfx11NotInstalled" Before="CostInitialize">NOT NETFX11INSTALLED AND VersionNT &lt; 600 AND NOT Installed</Custom>
      <Custom Action="SetTargetDir" Before="CostFinalize">NOT REMOVE AND NOT RESUME AND NOT TARGETDIR</Custom>
      <MigrateFeatureStates />
      <RemoveExistingProducts After="InstallFinalize" />
		</InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="SetTargetDir" Before="CostFinalize">NOT REMOVE AND NOT RESUME AND NOT TARGETDIR</Custom>
    </InstallUISequence>
    <Property Id="NETFX11INSTALLED" Secure="yes">
      <RegistrySearch Id="Netfx11InstallRegKey" Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v1.1.4322" Name="Install" Type="raw" /> 
    </Property>
	</Product>
</Wix>
