<?xml version="1.0" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Product Id="6793B605-A6A5-4CE1-8D59-04DD87AFA83C" UpgradeCode="C1781722-8046-4A2A-8419-5CBC9616220C"
		Name="Wipt" Language="1033" Version="1.0.6" Manufacturer="ACM@UIUC">
		<Package Id="????????-????-????-????-????????????" Description="Windows Installer Package Tool" 
      Comments="Copyright (c) 2006 ACM@UIUC.  See the LICENSE file for copying details."
			InstallerVersion="200" Compressed="yes" />
		<Binary Id="MSVBDPCADLL" src="InstallUtil\MSVBDPCADLL.ibd" />
    <Binary Id="VSDNETCFG" src="InstallUtil\VSDNETCFG.ibd" />
		<Media Id="1" Cabinet="Product.cab" EmbedCab="yes" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="ACMDir" Name="ACM">
					<Directory Id="INSTALLDIR" Name="Wipt">
						<Component Id="SystemInstallerComponent" Guid="97C850D4-2909-4940-B39A-DB3D7ED6D0EC">
							<File Id="System.Installer.dllFile" Name="SYSTEMI.DLL" LongName="System.Installer.dll" DiskId="1" 
                src="System.Installer\System.Installer.dll" Vital="yes" KeyPath="yes" Assembly=".net" />
						</Component>
						<Component Id="WiptLibComponent" Guid="7EA95F0B-B220-4C1F-922A-8DE12FEF1A3D">
							<File Id="WiptLib.dllFile" Name="WIPTLIB.DLL" DiskId="1" src="WiptLib\WiptLib.dll" Vital="yes" 
                KeyPath="yes" Assembly=".net" />
						</Component>
						<Component Id="WiptgetComponent" Guid="8C9ECEB5-A540-4700-9DED-E29B13582AD7">
							<File Id="wiptget.exeFile" Name="WIPT-GET.EXE" DiskId="1" src="wipt-get\wipt-get.exe" Vital="yes" 
                KeyPath="yes" />
							<File Id="LicenseFile" Name="LICENSE.txt" DiskId="1" src="LICENSE" />
							<Environment Id="UpdatePath" Name="PATH" Action="create" System="yes" Part="last" Value="[INSTALLDIR]" />
              <Registry Root="HKLM" Key="SOFTWARE\ACM\Wipt" Name="Repositories" 
                Value="http://www.acm.uiuc.edu/sigwin/wipt/packages.xml" Type="string" />
              <RemoveFile Id="DataFile" On="uninstall" Name="library.dat" Property="WiptDataDir" />
              <RemoveFolder Id="WiptDataDirRemove" On="uninstall" Property="WiptDataDir" />
              <RemoveFolder Id="ACMDataDirRemove" On="uninstall" Property="ACMDataDir" />
						</Component>
            <!--<Component Id="WiptguiComponent" Guid="B4FCF30E-409C-45D4-81AE-CB41F0B88BF7">
							<File Id="wiptgui.exeFile" Name="WIPT-GUI.EXE" DiskId="1" src="wipt-gui\wipt-gui.exe" Vital="yes" 
                KeyPath="yes" />
            </Component>-->
					</Directory>
				</Directory>
			</Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="ACMDataDir" Name="ACM">
          <Directory Id="WiptDataDir" Name="Wipt" />
        </Directory>
      </Directory>
		</Directory>
		<Feature Id="DefaultFeature" Title="Default Install" Level="1">
			<ComponentRef Id="WiptgetComponent" />
      <!--<ComponentRef Id="WiptguiComponent" />-->
			<ComponentRef Id="SystemInstallerComponent" />
      <ComponentRef Id="WiptLibComponent" />
		</Feature>
		<Upgrade Id="C1781722-8046-4A2A-8419-5CBC9616220C">
			<UpgradeVersion Minimum="1.0.6" Property="NEWERPRODUCTFOUND" IncludeMinimum="yes" />
			<Property Id="NEWERPRODUCTFOUND" Secure="yes" />
			<UpgradeVersion Minimum="1.0.0" Maximum="1.0.6" Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="yes" />
			<Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
		</Upgrade>
		<CustomAction Id="SetPrereqs" BinaryKey="MSVBDPCADLL" DllEntry="CheckFX" />
		<InstallExecuteSequence>
			<Custom Action="SetPrereqs" Before="AppSearch" />
      <RemoveExistingProducts After="InstallFinalize" />
		</InstallExecuteSequence>
	</Product>
</Wix>
